@define-color background #1C021F;
@define-color foreground #ff1f82;
@define-color color0 #1C021F;
@define-color color1 #fe4450;
@define-color color2 #72f1b8;
@define-color color3 #fecf3f;
@define-color color4 #03edf9;
@define-color color5 #ff7edb;
@define-color color6 #36f9f6;
@define-color color7 #f7f7f7;
@define-color color8 #495495;
@define-color color9 #fe4450;
@define-color color10 #72f1b8;
@define-color color11 #fede5d;
@define-color color12 #03edf9;
@define-color color13 #ff7edb;
@define-color color14 #36f9f6;
@define-color color15 #ffffff;
@define-color cursor #FFFDD0;
@define-color window-color #fede5d;
